<div class='signup'>
  <h4>Sign Up</h4>
  <form action="/signup" method="post" id="signup" role='form' class='form-horizontal'>
    <div class='form-group'>
      <label for="username" class='col-md-2'>Username</label>
      <div class='input-group col-md-6'>
        <input type="text" value="" name="username" id='username' class='form-control' />
      </div>
    </div>

    <div class='form-group'>
      <label for="password" class='col-md-2'>Password</label>
      <div class='input-group col-md-6'>
        <input type="password" value="" name="password" id='password'class='form-control' />
      </div>
    </div>

    <button type='submit' class='btn btn-primary'>Sign up</button>
  </form>
</div>
