/* line 4, ../../sass/styles.scss */
body {
  padding-top: 70px;
  padding-bottom: 50px;
}

/* line 10, ../../sass/styles.scss */
.index .caption {
  height: 130px;
  overflow: hidden;
}
/* line 15, ../../sass/styles.scss */
.index .caption h4 {
  white-space: nowrap;
}
/* line 19, ../../sass/styles.scss */
.index .thumbnail img {
  width: 100%;
  height: 100%;
}
/* line 25, ../../sass/styles.scss */
.index .ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 31, ../../sass/styles.scss */
.index .thumbnail {
  padding: 0;
}
/* line 35, ../../sass/styles.scss */
.index .thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
/* line 40, ../../sass/styles.scss */
.index .image-container {
  height: 200px;
  overflow: hidden;
}

/* line 47, ../../sass/styles.scss */
.show .thumbnail {
  padding: 0;
  min-height: 660px;
}
/* line 51, ../../sass/styles.scss */
.show .thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
/* line 57, ../../sass/styles.scss */
.show .fav-button {
  margin-top: 10px;
}
/* line 61, ../../sass/styles.scss */
.show .btn {
  min-width: 150px;
}

/* line 68, ../../sass/styles.scss */
.index .slide-image, .show .slide-image, .image-new .slide-image {
  width: 100%;
}
/* line 72, ../../sass/styles.scss */
.index .carousel-holder, .show .carousel-holder, .image-new .carousel-holder {
  margin-bottom: 30px;
}
/* line 76, ../../sass/styles.scss */
.index .carousel-control, .index .item, .show .carousel-control, .show .item, .image-new .carousel-control, .image-new .item {
  border-radius: 4px;
  max-height: 469px;
}
/* line 82, ../../sass/styles.scss */
.index .carousel-control.left, .index .carousel-control.right, .show .carousel-control.left, .show .carousel-control.right, .image-new .carousel-control.left, .image-new .carousel-control.right {
  background: none !important;
}
/* line 87, ../../sass/styles.scss */
.index .image, .show .image, .image-new .image {
  height: 469px;
  width: 790px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 95, ../../sass/styles.scss */
.index .image .laptop-container, .show .image .laptop-container, .image-new .image .laptop-container {
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 102, ../../sass/styles.scss */
.index .image .laptop-internal, .show .image .laptop-internal, .image-new .image .laptop-internal {
  position: absolute;
  top: 32px;
  left: 98px;
  width: 595px;
  height: 374px;
  overflow: hidden;
}
/* line 110, ../../sass/styles.scss */
.index .image .laptop-internal .laptop-image, .show .image .laptop-internal .laptop-image, .image-new .image .laptop-internal .laptop-image {
  width: 100%;
  height: 100%;
}
/* line 116, ../../sass/styles.scss */
.index .image .tablet-container, .show .image .tablet-container, .image-new .image .tablet-container {
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 123, ../../sass/styles.scss */
.index .image .tablet-internal, .show .image .tablet-internal, .image-new .image .tablet-internal {
  position: absolute;
  top: 47px;
  left: 150px;
  width: 490px;
  height: 372px;
  overflow: hidden;
}
/* line 131, ../../sass/styles.scss */
.index .image .tablet-internal .tablet-image, .show .image .tablet-internal .tablet-image, .image-new .image .tablet-internal .tablet-image {
  width: 100%;
  height: 100%;
}
/* line 137, ../../sass/styles.scss */
.index .image .iphone-container, .index .image .android-container, .show .image .iphone-container, .show .image .android-container, .image-new .image .iphone-container, .image-new .image .android-container {
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 144, ../../sass/styles.scss */
.index .image .iphone-internal, .show .image .iphone-internal, .image-new .image .iphone-internal {
  position: absolute;
  top: 68px;
  left: 104px;
  width: 188px;
  height: 333px;
  overflow: hidden;
}
/* line 152, ../../sass/styles.scss */
.index .image .iphone-internal .iphone-image, .show .image .iphone-internal .iphone-image, .image-new .image .iphone-internal .iphone-image {
  width: 100%;
  height: 100%;
}
/* line 158, ../../sass/styles.scss */
.index .image .android-internal, .show .image .android-internal, .image-new .image .android-internal {
  position: absolute;
  top: 72px;
  left: 94px;
  width: 208px;
  height: 326px;
  overflow: hidden;
}
/* line 166, ../../sass/styles.scss */
.index .image .android-internal .android-image, .show .image .android-internal .android-image, .image-new .image .android-internal .android-image {
  width: 100%;
  height: 100%;
}

/* line 175, ../../sass/styles.scss */
.image-new .holder {
  min-height: 170px;
}

/* line 181, ../../sass/styles.scss */
.cart .thumbnail {
  height: 350px;
  overflow: hidden;
}
/* line 185, ../../sass/styles.scss */
.cart .thumbnail .image-container {
  max-height: 170px;
  overflow: hidden;
}
/* line 190, ../../sass/styles.scss */
.cart .thumbnail img {
  width: 100%;
}
/* line 195, ../../sass/styles.scss */
.cart .price {
  position: absolute;
  bottom: 0;
  left: 12px;
}
/* line 201, ../../sass/styles.scss */
.cart .cancel-button {
  position: absolute;
  bottom: 10px;
  right: 12px;
}
/* line 208, ../../sass/styles.scss */
.cart .summary hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 213, ../../sass/styles.scss */
.cart .summary .subtotal {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 218, ../../sass/styles.scss */
.cart .summary .total {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
/* line 224, ../../sass/styles.scss */
.cart .summary .pay-button, .cart .summary .paypal-button {
  width: 100%;
  margin-top: 10px;
}

/* line 231, ../../sass/styles.scss */
.sidenav {
  width: 258px;
}
/* line 234, ../../sass/styles.scss */
.sidenav.affix {
  top: 70px;
  z-index: 10;
}

/* line 241, ../../sass/styles.scss */
.footer .social.navbar-toggle {
  border: 0px;
  padding: 0px;
  margin-left: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 247, ../../sass/styles.scss */
.footer .social.navbar-toggle:hover {
  background-color: transparent !important;
}

@media screen and (max-width: 1000px) {
  /* line 254, ../../sass/styles.scss */
  .index .carousel-holder {
    display: none;
  }
}
