<nav class='navbar navbar-default navbar-fixed-bottom footer' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.footer-collapse'>

        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>

      <ul class='nav navbar-nav navbar-right navbar-collapse navbar-toggle social pull-left'>
        <li class='pull-left'><a href='http://facebook.com/ligopace1'>F</a></li>
        <li class='pull-left'><a href='http://twitter.com/ligopace'>T</a></li>
        <li class='pull-left'><a href='http://instagram.com'>I</a></li>
      </ul>
    </div>

    <ul class='nav navbar-nav collapse navbar-collapse footer-collapse'>
      <li><a href='/wallpaper/new'>Sell</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/contact'>Contact</a></li>
    </ul>

    <ul class='nav navbar-nav collapse navbar-right navbar-collapse'>
      <li><a href='http://facebook.com/ligopace1'>F</a></li>
      <li><a href='http://twitter.com/ligopace'>T</a></li>
      <li><a href='http://instagram.com'>I</a></li>
    </ul>
  </div>
</nav>
