<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='/'>Ligopace</a>
    </div>

    <div class='collapse navbar-collapse navbar-ex1-collapse'>
      <ul class='nav navbar-nav'>
        <li><a href='/wallpaper'>Wallpaper</a></li>
        <li><a href='/wallpaper/live'>Live Wallpaper</a></li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <% if (!Parse.User.current()) { %>
          <li><a href='/login'>Sign in</a></li>
        <% } else { %>
          <% var name = Parse.User.current().get('name') || Parse.User.current().get('username') %>
          <li class='dropdown'>
            <a href='/profile' class='dropdown-toggle' data-toggle='dropdown'><%= name %> <b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><a href='/profile'>My Profile</a></li>
              <li><a href='/logout'>Sign out</a></li>
            </ul>
          </li>
        <% } %>
        <li>
          <a href='/cart'>
            <i class='glyphicon glyphicon-shopping-cart'></i>
            <span><%= cartItems.length %></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
