<!DOCTYPE html>
 
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' media="screen" />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <meta name='viewport' content='width=device-width'>
    <meta name='author' content='Listiarso Wastuargo'>
  </head>
  
  <body class='container'>
    <% include header %>
    <div class='container'>
      <% if (locals.errorFlash) { %>
        <div class='errorFlash'><%= errorFlash %></div>
      <% } %>
      
      <%- body %>
    </div>
    <% include footer %>

    <script src='https://www.parsecdn.com/js/parse-1.2.7.min.js'></script>
    <script src='/js/jquery-1.10.0.min.js' type='text/javascript'></script>
    <script src='/js/underscore-min.js' type='text/javascript'></script>
    <script src='/js/backbone-min.js' type='text/javascript'></script>
    <script src='/bootstrap/js/bootstrap.min.js'></script>
    <script type='text/javascript'>
      Parse.initialize("<%= parseApplicationId %>", "<%= parseJavascriptKey %>");
    </script>
    <%- script %>
  </body>

</html>
