<div class='col-md-3'>
  <p class='lead'>Store</p>
  <div class='list-group nav nav-list sidenav' data-spy="affix" data-offset-top="70">
    <a href='/wallpaper' class="list-group-item <%= (locals.nav === 'wallpaper') ? 'active' : '' %>">
      Wallpapers
    </a>
    <a href='/live-wallpaper' class="list-group-item <%= (locals.nav === 'live') ? 'active' : '' %>">Live Wallpapers</a>
  </div>
</div>
