@import "compass/css3";
@import "compass/utilities";

body {
  padding-top: 70px;
  padding-bottom: 50px;
}

.index {
  .caption {
    height: 130px;
    overflow: hidden;
  }

  .caption h4 {
    white-space: nowrap;
  }

  .thumbnail img {
    width: 100%;
    height: 100%;
  }


  .ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
  }

  .thumbnail {
    padding: 0;
  }

  .thumbnail .caption-full {
    padding: 9px;
    color: #333;
  }

  .image-container {
    height: 200px;
    overflow: hidden;
  }
}

.show {
  .thumbnail {
    padding: 0;
    min-height: 660px;

    .caption-full {
      padding: 9px;
      color: #333;
    }
  }

  .fav-button {
    margin-top: 10px;
  }

  .btn {
    min-width: 150px;
  }
}

// Carousel
.index, .show, .image-new {
  .slide-image {
    width: 100%;
  }

  .carousel-holder {
    margin-bottom: 30px;
  }

  .carousel-control,.item {
    border-radius: 4px;
    max-height: 469px;
  }

  .carousel-control {
    &.left, &.right {
      background: none !important;
    }
  }

  .image {
    height: 469px;
    width: 790px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .laptop-container {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .laptop-internal {
      position: absolute;
      top: 32px;
      left: 98px;
      width: 595px;
      height: 374px;
      overflow: hidden;

      .laptop-image {
        width: 100%;
        height: 100%;
      }
    }

    .tablet-container {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .tablet-internal {
      position: absolute;
      top: 47px;
      left: 150px;
      width: 490px;
      height: 372px;
      overflow: hidden;

      .tablet-image {
        width: 100%;
        height: 100%;
      }
    }

    .iphone-container, .android-container {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .iphone-internal {
      position: absolute;
      top: 68px;
      left: 104px;
      width: 188px;
      height: 333px;
      overflow: hidden;

      .iphone-image {
        width: 100%;
        height: 100%;
      }
    }

    .android-internal {
      position: absolute;
      top: 72px;
      left: 94px;
      width: 208px;
      height: 326px;
      overflow: hidden;

      .android-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.image-new {
  .holder {
    min-height: 170px;
  }
}

.cart {
  .thumbnail {
    height: 350px;
    overflow: hidden;

    .image-container {
      max-height: 170px;
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }

  .price {
    position: absolute;
    bottom: 0;
    left: 12px;
  }

  .cancel-button {
    position: absolute;
    bottom: 10px;
    right: 12px;
  }

  .summary {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .subtotal {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .total {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .pay-button, .paypal-button {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.sidenav {
  width: 258px;

  &.affix {
    top: 70px;
    z-index: 10;
  }
}

.footer {
  .social.navbar-toggle {
    border: 0px;
    padding: 0px;
    margin-left: 10px;
    @include box-shadow(none);

    &:hover {
      background-color: transparent !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .index .carousel-holder {
    display: none;
  }
}
