<div class='cart'>
  <div class='row col-sm-9 col-md-9'>
    <form method='post' action='/cart-delete'>
      <% _.each(cartItems, function(item) { %>
        <% var wallpaper = item.get('wallpaper') %>
        <div class='thumbnail col-sm-4 col-md-4'>
          <div class='image-container'>
            <img src="<%= wallpaper.get('image').get('image').url() %>">
          </div>
          <div class='caption'>
            <h3><%= wallpaper.get('title') %></h3>
            <p><%= wallpaper.get('description') %></p>

            <div class='bottom'>
              <h4 class='price'>$<%= humanize.formatNumber(item.get('wallpaper').get('price'), 2) %></h4>
              <button type='submit' name='id' value="<%= item.id %>" class='cancel-button'>Cancel</button>
            </div>
          </div>
        </div>
      <% }); %>
    </form>
  </div>

  <div class='summary pull-right panel col-sm-2 col-md-2'>
    <form method='post' action='/payment'>
      <button type='submit' class='btn btn-success pay-button'>Pay Now</button>
    </form>
    <div class='subtotal clearfix'>
      <div class='pull-left'>Items:</div>
      <div class='pull-right'>$<%= humanize.formatNumber(total, 2) %></div>
    </div>
    <div class='subtotal clearfix'>
      <div class='pull-left'>Tax:</div>
      <div class='pull-right'>$0.00</div>
    </div>
    <hr />
    <div class='total clearfix'>
      <div class='pull-left'>Total</div>
      <div class='pull-right'>$<%= humanize.formatNumber(total, 2) %></div>
    </div>
  </div>
</div>
