<div class="index row">
  <div class='col-md-12'>
    <div class="row carousel-holder">
      <div class="image">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class='img-responsive laptop-container' src="<%= "/images/laptop_placeholder.png " %>" alt=''>
                <div class='laptop-internal'>
                  <img class='laptop-image' src="<%= wallpapers[0].get('image').get('image').url() %>">
                </div>
              </div>
              <div class="item">
                <img class='img-responsive tablet-container' src="<%= "/images/tablet_placeholder.png " %>" alt=''>
                <div class='tablet-internal'>
                  <img class='tablet-image' src="<%= wallpapers[1].get('image').get('image').url() %>">
                </div>
              </div>
              <div class="item">
                <div class='col-md-6'>
                  <img class='img-responsive iphone-container' src="<%= "/images/iphone_placeholder.png " %>" alt=''>
                  <div class='iphone-internal'>
                    <img class='iphone-image' src="<%= wallpapers[2].get('image').get('image').url() %>">
                  </div>
                </div>
                <div class='col-md-6'>
                  <img class='img-responsive android-container' src="<%= "/images/android_placeholder.png " %>" alt=''>
                  <div class='android-internal'>
                    <img class='android-image' src="<%= wallpapers[3].get('image').get('image').url() %>">
                  </div>
                </div>


              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
      </div>
    </div>

    <div class='row'>
      <% _(wallpapers).each(function(wallpaper) { %>

        <div class="col-sm-3 col-lg-3 col-md-3">
          <div class='thumbnail'>
            <div class='image-container'>
              <a href='/wallpaper/<%= wallpaper.id %>'>
                <img class="image" src="<%= wallpaper.get('image').get('image').url() %>" />
              </a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

</div>

