<div class='image-new'>
  <h4>Upload a wallpaper</h4>
  <form method='POST' id='uploader' action='/wallpaper' role='form' class='form-horizontal'>
      <div class='form-group'>
        <label for='wp-title' class='col-md-2'>Title</label>
        <div class='input-group col-md-9 col-xs-12'>
          <input id='wp-title' type='text' name='title' placeholder='Title' maxlength='30' class='form-control' />
        </div>
      </div>

      <div class='form-group'>
        <label for='wp-price' class='col-md-2'>Price</label>
        <div class='input-group col-md-9 col-xs-12'>
          <span class='input-group-addon'>$</span>
          <input id='wp-price' type='text' name='price' placeholder='Price' maxlength='30' class='form-control' />
        </div>
      </div>

      <div class='form-group'>
        <label for='wp-description' class='col-md-2'>Description</label>
        <div class='input-group col-md-9 col-xs-12'>
          <textarea id='wp-description' name='description' placeholder='Description' maxlength='400' class='textarea form-control'></textarea>
        </div>
      </div>

      <div class='form-group'>
        <label class='col-md-2 upload'>Main Image</label>
        <input type='file' class='hidden' name='mainImage' />
        <a href='#' id='main-image-holder' data-image-class='laptop-image' class='col-md-9 panel holder upload text-center pagination-centered'>
          <h4>+</h4>
          <h4>Add main image</h4>
          <br />
          <h4>Drop image here</h4>
        </a>
      </div>

      <div id='phone-image-form' class='form-group hidden'>
        <label class='col-md-2 upload'>Phone Image</label>
        <input type='file' class='hidden' name='phoneImage' />
        <a href='#' data-image-class='iphone-image'  class='col-md-9 panel holder upload text-center pagination-centered'>
          <h4>+</h4>
          <h4>Add main image</h4>
          <br />
          <h4>Drop image here</h4>
        </a>
      </div>

      <div id='tablet-image-form' class='form-group hidden'>
        <label class='col-md-2 upload'>Tablet Image</label>
        <input type='file' class='hidden' name='tabletImage' />
        <a href='#' data-image-class='tablet-image'  class='col-md-9 panel holder upload text-center pagination-centered'>
          <h4>+</h4>
          <h4>Add main image</h4>
          <br />
          <h4>Drop image here</h4>
        </a>
      </div>

      <button type='submit' class='btn btn-primary'>Upload</button>
  </form>
</div>

<script type='text/javascript' src='/js/uploader.js'></script>
<script type='text/javascript'>
  new Uploader({ el: '#uploader' });
</script>
