<div class='show row'>
  <div class='col-md-12'>
    <div class='thumbnail'>
      <div class='image'>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class='img-responsive laptop-container' src="<%= "/images/laptop_placeholder.png " %>" alt=''>
                <div class='laptop-internal'>
                  <img class='laptop-image' src="<%= wallpaperUrl %>">
                </div>
              </div>
              <div class="item">
                <img class='img-responsive tablet-container' src="<%= "/images/tablet_placeholder.png " %>" alt=''>
                <div class='tablet-internal'>
                  <img class='tablet-image' src="<%= wallpaperUrl %>">
                </div>
              </div>
              <div class="item">
                <div class='col-md-6'>
                  <img class='img-responsive iphone-container' src="<%= "/images/iphone_placeholder.png " %>" alt=''>
                  <div class='iphone-internal'>
                    <img class='iphone-image' src="<%= wallpaperUrl %>">
                  </div>
                </div>
                <div class='col-md-6'>
                  <img class='img-responsive android-container' src="<%= "/images/android_placeholder.png " %>" alt=''>
                  <div class='android-internal'>
                    <img class='android-image' src="<%= wallpaperUrl %>">
                  </div>
                </div>


              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

      </div>
      <div class='caption-full'>
        <div class='pull-right'>
          <form method='post' action='/cart'>
          <input type='hidden' name='id' value='<%= wallpaper.id %>'>
          <h4 class='pull-right'>$<%= wallpaper.get('price') %></h4>
          <div>
            <label for='add-cart' class='btn btn-primary'><i class='glyphicon glyphicon-shopping-cart'></i> Add to Cart</label>
            <input id='add-cart' name='cart' type='submit' class='hidden' title='Add to Cart'>
          </div>
          <div class='fav-button' name='favorite'><input type='submit' class='btn btn-default' value='Add to Favorites'></div>
          </form>
        </div>

        <h4><%= wallpaper.get('title') %></h4>
        <p><%= wallpaper.get('description') %></p>
      </div>
    </div>
  </div>
</div>
